
.assessment-select-container {
    margin-bottom: 10px;
}
.assessment-select-container .filter-btn {
    margin: 1% 1% 1% 2%;
}
.assessment-select-container .filter-btn-right {
    margin: 1%;
}
.assessment-select-container .filter-btn-left {
    margin: 1%;
}
.assessment-select-container .btn-assessment-refresh {
    color: white;
    margin-left: 11%;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
}
